{% extends 'base.html' %} {% block content %}
<style>
  .parent_builder {
    background-color: #444;
  }
  #blocks {
    width: 15%;
  }
  #stylesElements {
    width: 20%;
  }
  #gjs {
    width: 65%;
  }
  .gjs-pn-panel {
    position: relative !important;
  }
</style>
<div class="panel__top flex justify-between w-full p-4">
  <div class="panel__basic-actions"></div>
  <div class="panel__devices"></div>
  <div class="panel__switcher flex justify-center">
    <form onsubmit="saveContent(event)">
      {% csrf_token %}
      <button class="py-2 px-6 rounded text-white btn bg-blue-500 hover:bg-blue-600 mr-4" type="submit">Save</button>
    </form>
  </div>
</div>
<div class="parent_builder flex justify-between items-start">
  <div id="blocks" class="h-full">
    <div class="layers-container"></div>
  </div>
  <div id="gjs" style="height: 500px">
    {% comment %} {% if page %}
    {{ page.html|safe }}
    {% endif %} {% endcomment %}
  </div>
  <div class="flex flex-col" id="stylesElements">
    <div class="traits-container"></div>
    <div class="styles-container"></div>
    <div id="stylemanager" class="h-full"></div>
  </div>
</div>
<script defer>
  const editor = grapesjs.init({
    // Indicate where to init the editor. You can also pass an HTMLElement
    container: "#gjs",
    // Get the content for the canvas directly from the element
    // As an alternative we could use: `components: '<h1>Hello World Component!</h1>'`,
    fromElement: true,
    // Size of the editor
    // Disable the storage manager for the moment
    storageManager: false,
    forceClass: false,
    layerManager: {
      appendTo: ".layers-container",
    },
    traitManager: {
      appendTo: ".traits-container",
    },
    deviceManager: {
      devices: [
        {
          name: "Desktop",
          width: "", // default size
        },
        {
          name: "Mobile",
          width: "320px", // this value will be used on canvas width
          widthMedia: "480px", // this value will be used in CSS @media
        },
      ],
    },
    // Avoid any default panel
    panels: {
      defaults: [
        // ...
        {
          id: "panel-switcher",
          el: ".panel__switcher",
          buttons: [
            {
              id: "show-layers",
              active: true,
              label: "Layers",
              command: "show-layers",
              // Once activated disable the possibility to turn it off
              togglable: false,
            },
            {
              id: "show-style",
              active: true,
              label: "Styles",
              command: "show-styles",
              togglable: false,
            },
          ],
        },
        {
          id: "panel-devices",
          el: ".panel__devices",
          buttons: [
            {
              id: "device-desktop",
              label: "D",
              command: "set-device-desktop",
              active: true,
              togglable: false,
            },
            {
              id: "device-mobile",
              label: "M",
              command: "set-device-mobile",
              togglable: false,
            },
          ],
        },
      ],
    },
    selectorManager: {
      appendTo: ".styles-container",
      componentFirst: true,
      custom:true,
    },
    styleManager: {
      appendTo: "#stylemanager",
      sectors: [
        {
          name: "Dimension",
          open: false,
          // Use built-in properties
          buildProps: ["width", "min-height", "padding"],
          // Use `properties` to define/override single property
          properties: [
            {
              // Type of the input,
              // options: integer | radio | select | color | slider | file | composite | stack
              type: "integer",
              name: "The width", // Label for the property
              property: "width", // CSS property (if buildProps contains it will be extended)
              units: ["px", "%"], // Units, available only for 'integer' types
              defaults: "auto", // Default value
              min: 0, // Min value, available only for 'integer' types
            },
          ],
        },
        {
          name: "Extra",
          open: false,
          buildProps: ["background-color", "box-shadow", "custom-prop"],
          properties: [
            {
              id: "custom-prop",
              name: "Custom Label",
              property: "font-size",
              type: "select",
              defaults: "32px",
              // List of options, available only for 'select' and 'radio'  types
              options: [
                { value: "12px", name: "Tiny" },
                { value: "18px", name: "Medium" },
                { value: "32px", name: "Big" },
              ],
            },
          ],
        },
      ],
    },
    blockManager: {
      appendTo: "#blocks",
      blocks: [
        {
          id: "section", // id is mandatory
          label: "<b>Section</b>", // You can use HTML/SVG inside labels
          attributes: { class: "gjs-block-section" },
          content: `<section>
                      <h1>This is a simple title</h1>
                      <div>This is just a Lorem text: Lorem ipsum dolor sit amet</div>
                    </section>`,
        },
        {
          id: "text",
          label: "Text",
          content: '<div data-gjs-type="text">Insert your text here</div>',
        },
        {
          id: "image",
          label: "Image",
          // Select the component once it's dropped
          select: true,
          // You can pass components as a JSON instead of a simple HTML string,
          // in this case we also use a defined component type `image`
          content: { type: "image" },
          // This triggers `active` event on dropped components and the `image`
          // reacts by opening the AssetManager
          activate: true,
        },
        {
          id : 'form-1',
          label: 'Form 1',
          attributes : { class: ''},
          content :`
          <section class="flex flex-col md:flex-row h-screen items-center">
          
            <div class="bg-indigo-600 hidden lg:block w-full md:w-1/2 xl:w-2/3 h-screen">
              <img src="https://source.unsplash.com/random" alt="" class="w-full h-full object-cover">
            </div>
          
            <div class="bg-white w-full md:max-w-md lg:max-w-full md:mx-auto md:mx-0 md:w-1/2 xl:w-1/3 h-screen px-6 lg:px-16 xl:px-12
                  flex items-center justify-center">
          
              <div class="w-full h-100">
          
          
                <h1 class="text-xl md:text-2xl font-bold leading-tight mt-12">Log in to your account</h1>
          
                <form class="mt-6" action="#" method="POST">
                  <div>
                    <label class="block text-gray-700">Email Address</label>
                    <input type="email" name="" id="" placeholder="Enter Email Address" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete required>
                  </div>
          
                  <div class="mt-4">
                    <label class="block text-gray-700">Password</label>
                    <input type="password" name="" id="" placeholder="Enter Password" minlength="6" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500
                          focus:bg-white focus:outline-none" required>
                  </div>
          
                  <div class="text-right mt-2">
                    <a href="#" class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700">Forgot Password?</a>
                  </div>
          
                  <button type="submit" class="w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg
                        px-4 py-3 mt-6">Log In</button>
                </form>
          
                <hr class="my-6 border-gray-300 w-full">
          
                <button type="button" class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
                      <div class="flex items-center justify-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
                      <span class="ml-4">
                      Log in
                      with
                      Google</span>
                      </div>
                    </button>
          
                <p class="mt-8">Need an account? <a href="#" class="text-blue-500 hover:text-blue-700 font-semibold">Create an
                        account</a></p>
          
          
              </div>
            </div>
          
          </section>
          `
        },
        {
          id: 'form2',
          label :'Form-2',
          attributes : { clas: ''},
          content : `

            <div class="bg-slate-700 w-full py-10 px-10">
              <div>
                <div class="sm:flex space-x-7 md:items-start items-center">
                  <div class="mb-4">
                    <img class="rounded-md md:w-80" src="https://avatars.githubusercontent.com/u/5550850?v=4" alt="brad" />
                  </div>
                  <div>
                    <h1 class="text-slate-100 text-4xl font-bold my-2">Brad Traversy</h1>
                    <p class="text-slate-100 text-lg tracking-wide mb-6 md:max-w-lg">Full stack web developer and online instructor, specializiing in mostly JS, but also write Python, PHP and some other stuff.</p>
                    <button class="border-2 px-6 py-4 rounded-md border-indigo-600 text-slate-100 hover:bg-indigo-600 hover:text-indigo-100 transition duration-75">VISIT GITHUB PROFILE</button>
                  </div>
                </div>
              </div>
              <div class="mt-8 sm:grid grid-cols-3 sm:space-x-4">
                <div class="bg-slate-600 p-6 rounded-md mb-4">
                  <span class="text-slate-400 text-md">Location</span>
                  <h2 class="text-slate-100 text-2xl font-semibold">Massachusetts</h2>
                </div>
                <div class="bg-slate-600 p-6 rounded-md mb-4">
                  <span class="text-slate-400 text-md">Website</span>
                  <h2 class="text-slate-100 text-2xl font-semibold">traversymedia</h2>
                </div>
                <div class="bg-slate-600 p-6 rounded-md mb-4">
                  <span class="text-slate-400 text-md">Twitter</span>
                  <h2 class="text-slate-100 text-2xl font-semibold">traversymedia</h2>
                </div>
              </div>
              <div class="sm:grid lg:grid-cols-4 grid-cols-2 sm:gap-x-4">
                <div class="flex justify-between items-center bg-slate-600 p-6 rounded-md mb-4">
                  <div>
                    <span class="text-md text-slate-400">Followers</span>
                    <h1 class="text-3xl font-bold text-slate-100">47155</h1>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-cyan-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                  </div>
                </div>
                <div class="flex justify-between items-center bg-slate-600 p-6 rounded-md mb-4">
                  <div>
                    <span class="text-md text-slate-400">Following</span>
                    <h1 class="text-3xl font-bold text-slate-100">9322</h1>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                  </div>
                </div>
                <div class="flex justify-between items-center bg-slate-600 p-6 rounded-md mb-4">
                  <div>
                    <span class="text-md text-slate-400">Public Rpos</span>
                    <h1 class="text-3xl font-bold text-slate-100">236</h1>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                    </svg>
                  </div>
                </div>
                <div class="flex justify-between items-center bg-slate-600 p-6 rounded-md mb-4">
                  <div>
                    <span class="text-md text-slate-400">Public Gists</span>
                    <h1 class="text-3xl font-bold text-slate-100">40</h1>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          `
        }
      ],
    },
    canvas :{
      styles:[
                
      ],
      scripts:[
      'https://cdn.tailwindcss.com'
      ]
    }
  });
  const id = "{{ page.id }}";
  if(id){
    const html = `{{ page.html|safe }}`
    const css = `{{ page.css|safe }}`
    editor.setComponents(html)
    editor.setStyle(css)
  }
  editor.Panels.addPanel({
    id: "panel-top",
    el: ".panel__top",
  });
  editor.Panels.addPanel({
    id: "basic-actions",
    el: ".panel__basic-actions",
    buttons: [
      {
        id: "visibility",
        active: true, // active by default
        className: "btn-toggle-borders",
        label: "<u>B</u>",
        command: "sw-visibility", // Built-in command
      },
      {
        id: "export",
        className: "btn-open-export",
        label: "Exp",
        command: "export-template",
        context: "export-template", // For grouping context of buttons from the same panel
      },
      {
        id: "show-json",
        className: "btn-show-json",
        label: "JSON",
        context: "show-json",
        command(editor) {
          editor.Modal.setTitle("Components JSON")
            .setContent(
              `<textarea style="width:100%; height: 250px;">
                    ${JSON.stringify(editor.getComponents())}
                </textarea>`
            )
            .open();
        },
      },
    ],
  });
  editor.on("run:export-template:before", (opts) => {
    console.log("Before the command run");
    if (0 /* some condition */) {
      opts.abort = 1;
    }
  });
  editor.on("run:export-template", () => console.log("After the command run"));
  editor.on("abort:export-template", () => console.log("Command aborted"));
  editor.Commands.add("show-layers", {
    getRowEl(editor) {
      return editor.getContainer().closest(".editor-row");
    },
    getLayersEl(row) {
      return row.querySelector(".layers-container");
    },

    run(editor, sender) {
      const lmEl = this.getLayersEl(this.getRowEl(editor));
      lmEl.style.display = "";
    },
    stop(editor, sender) {
      const lmEl = this.getLayersEl(this.getRowEl(editor));
      lmEl.style.display = "none";
    },
  });
  editor.Commands.add("show-styles", {
    getRowEl(editor) {
      return editor.getContainer().closest(".editor-row");
    },
    getStyleEl(row) {
      return row.querySelector(".styles-container");
    },

    run(editor, sender) {
      const smEl = this.getStyleEl(this.getRowEl(editor));
      smEl.style.display = "";
    },
    stop(editor, sender) {
      const smEl = this.getStyleEl(this.getRowEl(editor));
      smEl.style.display = "none";
    },
  });
  editor.Commands.add("show-traits", {
    getTraitsEl(editor) {
      const row = editor.getContainer().closest(".editor-row");
      return row.querySelector(".traits-container");
    },
    run(editor, sender) {
      this.getTraitsEl(editor).style.display = "";
    },
    stop(editor, sender) {
      this.getTraitsEl(editor).style.display = "none";
    },
  });
  editor.Commands.add("set-device-desktop", {
    run: (editor) => editor.setDevice("Desktop"),
  });
  editor.Commands.add("set-device-mobile", {
    run: (editor) => editor.setDevice("Mobile"),
  });
  function saveContent(e){
    e.preventDefault()
    console.log(editor.getHtml(), editor.getCss());
    const id = "{{ page.id }}"
    const formData = new FormData()
    formData.append('html', editor.getHtml());
    formData.append('css', editor.getCss());
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const url = id ? `/editPage/${id}` : 'page/create';
    const request = new Request(
    url,
      {
          method: 'POST',
          headers: {'X-CSRFToken': csrftoken},
          mode: 'same-origin', // Do not send CSRF token to another domain.
          body: formData
      }
    );
    fetch(request).then((resp)=>resp.json()).then((response)=>{
      console.log(response)
      alert('page saved successfully')
    }).catch((error)=>{
      console.log(error)
      alert('Error')
    })
  }
  
</script>
{% endblock %}
