{% extends 'base.html' %} 

{% block content %}

<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-gray-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
        <div class="flex justify-between">
            <h2 class="text-2xl font-extrabold text-gray-900">My Pages</h2>
            <a href="/add" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <!-- Heroicon name: solid/check -->
                Add new
            </a>
        </div>
        <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
        
            {% if pages %}
                {% for page in pages %}
                <div>
                  <div class="group relative mb-8">
                    <div class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                      <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-01.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="w-full h-full object-center object-cover">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                      <a href="/edit/{{ page.id }}">
                        <span class="absolute inset-0"></span>
                        {{ page.name }}
                      </a>
                    </h3>
                    <p class="text-base font-semibold text-gray-900">{{ page.decsription }}</p>
                  </div>
                  <a href="/preview/{{page.id}}">Preview</a>
                </div>
                {% endfor %}
            {% endif %}
            
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}